body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}


/* login stuff */
.login-form-container{
  border: 2px solid purple;
  background-color: #D9DBDB;
  color: black;
  width: 380px;
  margin-top: 100px;
  margin-left: 30%;
  display: inline-block;
  height: 375px;
  text-align: center;
}


#login-title{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

#field-names{
  float: left;
  width: 39%;
  text-align: right;
}

#login-field-textboxes{
  width: 60%;
  display: inline-block;
  text-align: center;
}

.login-input{
  margin-bottom: 30px;
  width: 90%;
}

.login-field-label{
  margin-bottom: 38px;
}

#login-submit-button{

}
.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Post Popup */
#popupBoxOnePosition{
  top: 0; left: 0; position: fixed; width: 100%; height: 120%;
  background-color: rgba(0,0,0,0.7); display: none;
}
.popupBoxWrapper{
  width: 550px; margin: 50px auto; text-align: center;
}
.popupBoxContent{
  background-color: #FFF; padding: 15px;
  height: 325px;
  margin-top: 12%;
}
#post-title{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 22px;
}

.post-input{
  width: 100%;
  height: 134px;
}
#post-field-textboxes{
  margin-bottom: 25px;
  overflow: hidden;
}

#exit-post{
  float: right;
  color: red;
  z-index: -1;
}

#login-submit-button{
}
/*Reply*/
#popupBoxReply{
  top: 0; left: 0; position: fixed; width: 100%; height: 120%;
  background-color: rgba(0,0,0,0.7); display: none;
}
.replyBoxWrapper{
  width: 550px; margin: 50px auto; text-align: center;
}
.replyBoxContent{
  background-color: #FFF; padding: 15px;
  height: 325px;
  margin-top: 12%;
}
#reply-title{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 22px;
}

.reply-input{
  width: 100%;
  height: 134px;
}
#reply-field-textboxes{
  margin-bottom: 25px;
  overflow: hidden;
}

#exit-reply{
  float: right;
  color: red;
  z-index: -1;
}
#myNavbar{
  background-color: #4A0E50;
  height: 60px;
  color: white;
}
#logo{
  height: 100%;
  color: white;
}
#plus_post{
  float: right;
  height: 100%;

}
#plus_post_logo{
  height: 150%
  display: inline-block;
  padding-top: 15px;
  width: 50px;
  color: white;
}
#posts{
  width: 100%;
  height: 300px;
  text-align: center;
}
#time{
  margin-left: 50px;
  font-size: 10px;
  padding-bottom: 3px;
  margin-top: 180px;
  margin-left: 1119px;
}
#responses{
  float: left;
  margin-left: 15px;
  font-size: 10px;
  padding-bottom: 1px;
  margin-top: 140px;
}

#wrapper{
  display: flex;
}

#reply{
  margin-left: 20px;
  color: purple;
  font-size: 200%;
}

#report{
  margin-left: 20px;
  font-size: 200%;
  color: maroon;
}

#upvote{
  color: blue;
}

#downvote{
  color: red;
}

#votes{
  color: black;
}
#info{
  display: inline-block;
float: left;
font-size: 10px;
}
#post_content{
  display: inline-flex;
float: left;
overflow: hidden;
height: 90px;
width: 87%;
font-size: 12px;
text-align: left;
margin-left: 10px;
margin-top: 10px;
}
#header{
  height: 50px;
  background-color: #4A0E50;
  width: 100%;
  overflow: hidden;
  position: fixed;



}
#footer{
  height: 50px;
  background-color: #4A0E50;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;


}
#sub-nav{
  width: 100%;
  padding-top: 20px;
}

#school{
  font-size: 30px;

}
#my_posts{
  font-size: 30px;

}
#spacer{
  height: 50px;
  width: 100%;
}
.control{
  display: inline-block;
}
.sub-actions{
  margin: 5px;
}
.actions{
      display: inline-grid;
      width: 5%;
      padding-top: 10px;
      float: right;
      margin-bottom: 20px;

}
.user_post{
  width: 90%;
  display: inline-block;
text-align: center;
border: gray solid 1px;
margin: 10px;
}

#testText{
  text-align: left;
  color: black;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../images/parallax1.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../images/parallax2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
